{% extends "admin/change_list.html" %}

{% block extrahead %}
  {{ block.super }}
  <script src="media/js/lib/jquery-1.3.2.min.js"></script>
  <script src="media/js/lib/jquery.tree.min.js"></script>
  <script src="media/js/lib/plugins/jquery.tree.contextmenu.js"></script>
  <script>
    var permissions = {{ permissions|safe }};
    var parent_attr= '{{ parent_attr|escapejs }}';
  </script>
  <script src="media/js/jstree_admin.js"></script>
{% endblock %}

{% block search %}{% endblock %}

{% block date_hierarchy %}{% endblock %}

{% block filters %}{% endblock %}

{% block result_list %}
  <div id="tree"><ul>{{ tree }}</ul></div>
{% endblock %}

{% block pagination %}{% endblock %}
